{% extends 'base.html' %}

{% block content %}
<br>
<br>


<section style="padding-bottom:5%;">
    <div class="mask d-flex align-items-center h-0 gradient-custom-3">
      <div class="container h-0">
        <div class="row d-flex justify-content-center align-items-center h-0">
          <div class="col-11 col-md-7 col-lg-6 col-xl-5">
            <div class="card" style="border-radius:5px; background: rgba(255,255,255,0.5) ; color:#743c2c;">
              <div class="card-body p-5">
               

                <form action="option" method="POST" id="signup-form">
                
                    {% csrf_token %}



                    <div class="form-outline mb-5 col-12">
                            
                            <button type="submit" name="deaf" class="btn btn-block btn-lg gradient-custom-3 text-body" style="background-color:#16e1f4; color:white; ">Deaf</button>
                            <button type="submit" name="dumb" class="btn btn-block btn-lg gradient-custom-3 text-body" style="background-color:#fd5b55; color:white; ">Dumb</button>
                            <button type="submit" name="blind" class="btn btn-block btn-lg gradient-custom-3 text-body" style="background-color:#a3ff04; color:white; ">Blind</button>
                    
                    </div>

                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


 {% endblock %}