{% extends 'base.html' %}

{% block content %}
<br>
<br>

<section style="padding-bottom:5%;">
    <div class="mask d-flex align-items-center h-0 gradient-custom-3">
      <div class="container h-0">
        <div class="row d-flex justify-content-center align-items-center h-0">
          <div class="col-11 col-md-7 col-lg-6 col-xl-5">
            <div class="card" style="border-radius:5px; background: rgba(255,255,255,0.5) ; color:#743c2c;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-4">Sign up</h2>
                

                {% if error %}

                <i><h6 style="color:rgb(0, 0, 0); font-weight:500; text-align:center;" id="h">{{error}}</h6></i>
                  <br>
                {% endif %}



                <form action=" " method="POST" id="signup-form">
  
                   {% csrf_token %}

                   

                  <div class="form-outline mb-3">
                    <input type="number" id="name" name="name" placeholder="Mobile Number" class="form-control"  />
                    <label class="form-label" for="name" id="n1">Mobile Number</label>
                  </div>
  
                  <div class="form-outline mb-3">
                    <input type="email" id="email" name="email" placeholder="Email" class="form-control"  />
                    <label class="form-label" for="email" id="e1">Email</label>
                  </div>
  
                  <div class="form-outline mb-3">
                    <input type="password" id="pwd" name="pwd" placeholder="Password" class="form-control"  />
                    <label class="form-label" for="pwd" id="p1">Password</label>
                 </div>
                 
              

                 <div class="form-outline mb-5 col-12">
                    <label class="form-label" for="pwd" id="p1" style="padding-right:7px;">Physical Disability : </label>

                        <button type="submit" name="deaf" class="btn btn-block btn-lg gradient-custom-3 text-body" style="background-color:#63f2ff; color:white; ">Dumb</button>
                        <button type="submit" name="dumb" class="btn btn-block btn-lg gradient-custom-3 text-body" style="background-color:#fe7e79; color:white; ">Deaf</button>
                        <button type="submit" name="blind" class="btn btn-block btn-lg gradient-custom-3 text-body" style="background-color:#ABF62D; color:white; ">Blind</button>
                 
                 </div>
                
  
              
  
                  <p class="text-center text-muted mt-3 mb-0">Have already an account? 
                      <button type="submit" class="btn btn-sm fw-bold text-body" ><u><a href="/login_user">Login Here</a></u></button></p>
  
                </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      $("#name").blur(function(){
        var text = $(this).val()
        if(text.length!=10){
          alert("Enter correct number")
        }
       
      })
      $("#email").blur(function(){
        var text = $(this).val()
        if(text.length<10){
          alert("Enter valid email")
        }
      })
      $("#pwd").blur(function(){
        var text = $(this).val()
        if(text.length<6){
          alert("Enter valid password")
        }
      })
      
    
    })
  </script>

{% endblock %}



